*.*
!/.github
!/config
!/resourcepacks/Main Theme Textures
!/resources
!/scripts
!.gitignore
!betterfps.txt
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CREDIT.md
!flansmod.cfg
!knownkeys.txt
!LICENSE.md
!README.md
!Rules.pdf
!servers.dat
/bin
/resourcepacks


world
structures
plugins
logs
crash-reports
blueprints
asm
.mixin.out
resourcepacks
resources


__AMPBackupManifest.ampjson
banned-ips.json
banned-players.json
bukkit.yml
cauldron.yml
commands.yml
entities.yml
eula.txt
help.yml
minetweaker.log
OpenComputersMod-1.7.5.1290-lua53-native.64.so
ops.json
permissions.yml
server.properties
servers.dat
spigot.yml
thermos.yml
tileentities.yml
usercache.json
usernamecache.json
wepif.yml
whitelist.json
