*.*
!/.github/
!/config/
!/resourcepacks/Main Theme Textures/
!/resources/
!/scripts/
!.gitignore
!betterfps.txt
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CREDIT.md
!flansmod.cfg
!knownkeys.txt
!LICENSE.md
!README.md
!Rules.pdf
!servers.dat
!*.zs
/bin/
/resourcepacks/
!*.cfg
!/mods/*
!/Flan
!/libraries
/bin
/resourcepacks
!server-icon.png
!thermos.yml
!thermos.jar
!MODStoREMOVE.md
!*.jar
