# Configuration file

##########################################################################################################
# adaptors
#--------------------------------------------------------------------------------------------------------#
# Each Adaptor is responsible for a certain type of dynamic light.  Turn them on or off here.
##########################################################################################################

adaptors {
    # Set to false to disable natural dynamic light from mobs.
    B:"Entities Naturally Glow"=true

    # Set to false to disable dynamic flood light from certain held items.
    B:"Flood Light"=true

    # Set to false to disable dynamic light from mobs on fire.
    B:"Light from Burning Entities"=true

    # Set to false to disable dynamic light from creepers while charging.
    B:"Light from Charging Creepers"=true

    # Set to false to disable dynamic light from dropped items, like torches.
    B:"Light from Dropped Items"=true

    # Set to false to disable dynamic light from flaming arrows.
    B:"Light from Flaming Arrows"=true

    # Set to false to disable dynamic light from held items.
    B:"Light from Held Items"=true

    # Set to false to disable dynamic light from mobs holding torches, etc.
    B:"Light from Mob Equipment"=true

    # Set to false to disable dynamic light from items held by other players.
    B:"Light from Other Players"=true

    # Set to false to disable dynamic light from XP orbs.
    B:"XP Light"=true
}


##########################################################################################################
# flamable entities
#--------------------------------------------------------------------------------------------------------#
# Set to false if you don't want that Entity Class to emit dynamic light when on fire.
##########################################################################################################

"flamable entities" {
    B:BabyHeatscarSpider=true
    B:BlueSlime=true
    B:EntityArmorCreeper=true
    B:EntityBabySkeleton=true
    B:EntityBabySpider=true
    B:EntityBat=true
    B:EntityBee=true
    B:EntityBlackberrySlime=true
    B:EntityBlaze=true
    B:EntityBlazeKnight=true
    B:EntityBlindingEnderman=true
    B:EntityBlitz=true
    B:EntityBlizz=true
    B:EntityBrownSpider=true
    B:EntityBrownSpiderLarge=true
    B:EntityBrownSpiderSmall=true
    B:EntityBrutishPigZombie=true
    B:EntityBrutishSkeleton=true
    B:EntityBrutishZombie=true
    B:EntityCamera=true
    B:EntityCaramelSlime=true
    B:EntityCaveSpider=true
    B:EntityChicken=true
    B:EntityCinderBlaze=true
    B:EntityConcussionCreeper=true
    B:EntityConflagrationBlaze=true
    B:EntityCovenWitch=true
    B:EntityCow=true
    B:EntityCreeper=true
    B:EntityCursedEnderman=true
    B:EntityDarkCreeper=true
    B:EntityDarkling=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDireWolf=true
    B:EntityDirtCreeper=true
    B:EntityDominationWitch=true
    B:EntityDoomCreeper=true
    B:EntityDrowningCreeper=true
    B:EntityEarthElemental=true
    B:EntityEmber=true
    B:EntityEmberShadow=true
    B:EntityEmberSoul=true
    B:EntityEnderCreeper=true
    B:EntityEnderminy=true
    B:EntityEvilWizard=true
    B:EntityFallenKnight=true
    B:EntityFallenMount=true
    B:EntityFighterGhast=true
    B:EntityFireCreeper=true
    B:EntityFireElemental=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingPigZombie=true
    B:EntityFishingZombie=true
    B:EntityFlicker=true
    B:EntityFlyingSpider=true
    B:EntityGatlingSkeleton=true
    B:EntityGhast=true
    B:EntityGhostSpider=true
    B:EntityGiantPigZombie=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantZombie=true
    B:EntityGlowSlime=true
    B:EntityGoblin=true
    B:EntityGravelCreeper=true
    B:EntityGravityCreeper=true
    B:EntityHellfireBlaze=true
    B:EntityHellfish=true
    B:EntityHellhound=true
    B:EntityHorse=true
    B:EntityHungryPigZombie=true
    B:EntityHungrySpider=true
    B:EntityHungryZombie=true
    B:EntityHusk=true
    B:EntityIcyEnderman=true
    B:EntityInfernoBlaze=true
    B:EntityIronGolem=true
    B:EntityJumpingCreeper=true
    B:EntityLavaMonster=true
    B:EntityLemonSlime=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityMagmaCube=true
    B:EntityManaCreeper=true
    B:EntityManaElemental=true
    B:EntityMiniCreeper=true
    B:EntityMiniEnderman=true
    B:EntityMiniGhast=true
    B:EntityMirageEnderman=true
    B:EntityMobEnderman=true
    B:EntityMotherSpider=true
    B:EntityNinjaSkeleton=true
    B:EntityNuclearMonster=true
    B:EntityPaleSpider=true
    B:EntityPig=true
    B:EntityPigZombie=true
    B:EntityPiglin=true
    B:EntityPlaguePigZombie=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntityRabbit=true
    B:EntityRageWitch=true
    B:EntityShadowsWitch=true
    B:EntitySheep=true
    B:EntitySkeleton=true
    B:EntitySkull=true
    B:EntitySlime=true
    B:EntitySmallSpider=true
    B:EntitySniperSkeleton=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntitySplittingCreeper=true
    B:EntityStrawberrySlime=true
    B:EntityStray=true
    B:EntityStrider=true
    B:EntityThiefEnderman=true
    B:EntityThiefSkeleton=true
    B:EntityToughSpider=true
    B:EntityUndeadWitch=true
    B:EntityVampirePigZombie=true
    B:EntityVillageGuard=true
    B:EntityVillager=true
    B:EntityWatermelonSlime=true
    B:EntityWebSpider=true
    B:EntityWildfireBlaze=true
    B:EntityWildsWitch=true
    B:EntityWindWitch=true
    B:EntityWitch=true
    B:EntityWitchSpider=true
    B:EntityWitherCat=true
    B:EntityWitherWitch=true
    B:EntityWizard=true
    B:EntityWolf=true
    B:EntityZoglin=true
    B:EntityZombie=true
    B:EntityZombiePiglin=true
    B:EntityZombieVillager=true
    B:Entity_SpecialBlaze=true
    B:Entity_SpecialCaveSpider=true
    B:Entity_SpecialCreeper=true
    B:Entity_SpecialEnderman=true
    B:Entity_SpecialGhast=true
    B:Entity_SpecialPigZombie=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSlime=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialWitch=true
    B:Entity_SpecialZombie=true
    B:HeatscarSpider=true
    B:ImpEntity=true
    B:NitroCreeper=true
}


##########################################################################################################
# floodlights
#--------------------------------------------------------------------------------------------------------#
# Floodlights can simulate a single point light or a cone of light (May be slower!)
##########################################################################################################

floodlights {
    # List of comma separated items that shine floodlight while held.
    S:"Flood Light Items"=ender_eye

    # Simulate a single point light instead of a cone of light (May be slower!)
    B:"Simple Floodlight Mode"=true
}


general {
    # Comma separated list of items that do not give off light when dropped and in water, have to be present in Light Items.
    S:"Items Turned Off By Water"=torch,lava_bucket

    # Comma separated list of items that shine light when dropped in the World or held in player's or mob's hands.
    S:"Light Items"=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14,easycoloredlights:easycoloredlightsCLStone=-1

    # Optifine has a Dynamic Lights of its own.  This mod will turn itself off if Optifine is loaded.
    # Set this to true if you aren't going to use Optifine's Dynamic Lights (even though they work just as well!).
    B:"Optifine Override"=false

    # Update Interval time in milliseconds. The lower the better and costlier.
    I:"Update Interval"=50
}


##########################################################################################################
# glowing entities
#--------------------------------------------------------------------------------------------------------#
# Mobs/Entities will naturally radiate light with the value of this setting.
##########################################################################################################

"glowing entities" {
    I:BabyHeatscarSpider=0
    I:BlueSlime=0
    I:EntityArmorCreeper=0
    I:EntityBabySkeleton=0
    I:EntityBabySpider=0
    I:EntityBat=0
    I:EntityBee=0
    I:EntityBlackberrySlime=0
    I:EntityBlaze=10
    I:EntityBlazeKnight=0
    I:EntityBlindingEnderman=0
    I:EntityBlitz=0
    I:EntityBlizz=0
    I:EntityBrownSpider=0
    I:EntityBrownSpiderLarge=0
    I:EntityBrownSpiderSmall=0
    I:EntityBrutishPigZombie=0
    I:EntityBrutishSkeleton=0
    I:EntityBrutishZombie=0
    I:EntityCamera=0
    I:EntityCaramelSlime=0
    I:EntityCaveSpider=0
    I:EntityChicken=0
    I:EntityCinderBlaze=10
    I:EntityConcussionCreeper=0
    I:EntityConflagrationBlaze=10
    I:EntityCovenWitch=0
    I:EntityCow=0
    I:EntityCreeper=0
    I:EntityCursedEnderman=0
    I:EntityDarkCreeper=0
    I:EntityDarkling=0
    I:EntityDeathCreeper=0
    I:EntityDesertSpider=0
    I:EntityDireWolf=0
    I:EntityDirtCreeper=0
    I:EntityDominationWitch=0
    I:EntityDoomCreeper=0
    I:EntityDrowningCreeper=0
    I:EntityEarthElemental=0
    I:EntityEmber=0
    I:EntityEmberShadow=0
    I:EntityEmberSoul=0
    I:EntityEnderCreeper=0
    I:EntityEnderminy=0
    I:EntityEvilWizard=0
    I:EntityFallenKnight=0
    I:EntityFallenMount=0
    I:EntityFighterGhast=0
    I:EntityFireCreeper=0
    I:EntityFireElemental=0
    I:EntityFireSkeleton=0
    I:EntityFireZombie=0
    I:EntityFishingPigZombie=0
    I:EntityFishingZombie=0
    I:EntityFlicker=0
    I:EntityFlyingSpider=0
    I:EntityGatlingSkeleton=0
    I:EntityGhast=0
    I:EntityGhostSpider=0
    I:EntityGiantPigZombie=0
    I:EntityGiantSkeleton=0
    I:EntityGiantSpider=0
    I:EntityGiantZombie=0
    I:EntityGlowSlime=0
    I:EntityGoblin=0
    I:EntityGravelCreeper=0
    I:EntityGravityCreeper=0
    I:EntityHellfireBlaze=10
    I:EntityHellfish=0
    I:EntityHellhound=0
    I:EntityHorse=0
    I:EntityHungryPigZombie=0
    I:EntityHungrySpider=0
    I:EntityHungryZombie=0
    I:EntityHusk=0
    I:EntityIcyEnderman=0
    I:EntityInfernoBlaze=10
    I:EntityIronGolem=0
    I:EntityJumpingCreeper=0
    I:EntityLavaMonster=0
    I:EntityLemonSlime=0
    I:EntityLightningCreeper=0
    I:EntityLightningEnderman=0
    I:EntityMagmaCube=8
    I:EntityManaCreeper=0
    I:EntityManaElemental=0
    I:EntityMiniCreeper=0
    I:EntityMiniEnderman=0
    I:EntityMiniGhast=0
    I:EntityMirageEnderman=0
    I:EntityMobEnderman=0
    I:EntityMotherSpider=0
    I:EntityNinjaSkeleton=0
    I:EntityNuclearMonster=0
    I:EntityPaleSpider=0
    I:EntityPig=0
    I:EntityPigZombie=0
    I:EntityPiglin=0
    I:EntityPlaguePigZombie=0
    I:EntityPlagueZombie=0
    I:EntityPoisonSkeleton=0
    I:EntityPoisonSpider=0
    I:EntityRabbit=0
    I:EntityRageWitch=0
    I:EntityShadowsWitch=0
    I:EntitySheep=0
    I:EntitySkeleton=0
    I:EntitySkull=0
    I:EntitySlime=0
    I:EntitySmallSpider=0
    I:EntitySniperSkeleton=0
    I:EntitySpider=0
    I:EntitySpitfireSkeleton=0
    I:EntitySplittingCreeper=0
    I:EntityStrawberrySlime=0
    I:EntityStray=0
    I:EntityStrider=0
    I:EntityThiefEnderman=0
    I:EntityThiefSkeleton=0
    I:EntityToughSpider=0
    I:EntityUndeadWitch=0
    I:EntityVampirePigZombie=0
    I:EntityVillageGuard=0
    I:EntityVillager=0
    I:EntityWatermelonSlime=0
    I:EntityWebSpider=0
    I:EntityWildfireBlaze=10
    I:EntityWildsWitch=0
    I:EntityWindWitch=0
    I:EntityWitch=0
    I:EntityWitchSpider=0
    I:EntityWitherCat=0
    I:EntityWitherWitch=0
    I:EntityWizard=0
    I:EntityWolf=0
    I:EntityZoglin=0
    I:EntityZombie=0
    I:EntityZombiePiglin=0
    I:EntityZombieVillager=0
    I:Entity_SpecialBlaze=10
    I:Entity_SpecialCaveSpider=0
    I:Entity_SpecialCreeper=0
    I:Entity_SpecialEnderman=0
    I:Entity_SpecialGhast=0
    I:Entity_SpecialPigZombie=0
    I:Entity_SpecialSkeleton=0
    I:Entity_SpecialSlime=0
    I:Entity_SpecialSpider=0
    I:Entity_SpecialWitch=0
    I:Entity_SpecialZombie=0
    I:HeatscarSpider=0
    I:ImpEntity=0
    I:NitroCreeper=0
}


